[Desktop Entry]
Type=Application
Name=RSClipping
GenericName=Screen Clipper
Comment=Screen clipper and recorder
Exec=rsclipping
Icon=rsclipping
Terminal=false
Categories=AudioVideo;
Keywords=clip;screen;recorder;screenshot;
StartupNotify=true